.git
.release
tmp
tests
doc
docs

**/__pycache__
**/*.py[cod]
**/*.egg-info
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache

operators/quant-gru/build*
operators/quant-gru/pytorch/build
operators/quant-gru/pytorch/lib/*.so

*.pt
*.pth
*.onnx
*.gguf
*.tar
*.tar.gz
*.zip
