*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

/.idea/

/*build*/

/.vscode/

/.github/

/quantization_plots/

/tools/

/.cache/

*.log
*.so
*.a
*.o

*/speech_commands/
*.whl
*.egg-info
*/*build*/
/tmp/

/release/

__pycache__/
