*
!*.*
!test-reex/
!test-reex/**
test-reex/results/
test-reex/dump_single_block/
test-reex/**/*.log
test-reex/test.log
!reex/
!reex/**
!oracle/
!oracle/**
!snapshots/
*.o
ggml-common.h
**/*.swp
!peg-parser
